/* Universal Selector */
* {
  box-sizing: border-box;
  overflow-x: auto; 
  margin: 0;
  padding: 0;
}

:root {
  --sideBarWidth: 250px;
}

/* Hide the scrollbar for webkit-based browsers */
/* Note: This will not work in Firefox or other non-webkit browsers */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: You can customize the scrollbar's track and thumb appearance if needed */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Alignment and sizing */
.mask {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  border-radius: 15px;
}

.card-body {
  padding: 2.5rem;
}

.form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-outline input {
  width: 100%;
}

.form-check {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

.text-muted a {
  color: #6c757d;
}

.text-muted a:hover {
  color: #6c757d;
  text-decoration: none;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

#registration_form .error-message {
  color: red;
  font-size: 12px;
}

.error-border {
  border: 1px solid red;
}

/* Additional style for the "show password" icon */
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Gradient styles */
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}


/* Side Bar Menu */
.side-menu-bar {
  width: var(--sideBarWidth);
  background-color:#fff;
  left: calc(var(--sideBarWidth) * -1);
  transition: left 0.4s;
  padding-left: 10px;
}

.side-menu-bar.moved{
  left: 0;
}

.side-menu-bar hr {
  border-radius: 70%;
}

#menu_bar, #menu_close {
  color: #0d0d0d;
  cursor: pointer;
}


.menu-container {
  /* background-color:rgba(143, 211, 244, 0.3); */
}

.side-menu-head {
  overflow: scroll;
  z-index: -5;
  
}

.side-menu-head .bi{
  margin-right: 5px; 
  margin-bottom: 5px;

}


.list a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}

.list li {
  /* margin-bottom: 2px; */
  position: relative;
  padding: 10px 15px;
  border-radius: 50px;
}

.list li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(8, 15, 15); /* Color of the animated underline */
  transform: scaleX(0); /* Initially, set the scale to 0 (no underline) */
  transform-origin: right;
  transition: transform 0.3s ease; /* Animation duration and easing function */
}


.list li:hover::after {
  transform: scaleX(1); /* On hover, scale the underline to 100% width */
  transform-origin: left;
}


.side-menu-bar .circular-image {
  /* Ensure the image maintains its aspect ratio and fills the container */
  object-fit: cover;
  /* Set a fixed width and height to make sure the image is square */
  width: 5em;
  height: 5em;
  /* Set the border radius to 50% to create a circular shape */
  border-radius: 50%;
}

.active {
  display: block;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
  margin-left: auto;
  margin-right: auto;
}

/* Responsive styles */
@media (max-width: 576px) {
  .card {
    border-radius: 0;
    border: none;
  }

  #menu_bar {
    display: block;
  }

  .main-menu-bar .main-menu {
    display: none;
  }
}

@media (min-width: 570px) {
  #menu_bar {
    display:none;
  }
}

/* Top Menu Bar */
.main-menu-bar {
color: #000000;
}